<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuracion de parametros</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <script>
        function buton(){
            minH=document.getElementById("minH").value;
            maxH=document.getElementById("maxH").value;
            minN=document.getElementById("minN").value;
            maxN=document.getElementById("maxN").value;
            minF=document.getElementById("minF").value;
            maxF=document.getElementById("maxF").value;
            if ((minH=="") || (maxH=="") || (minN=="") || (maxN=="") || (minF=="") || (maxF=="") ){
                alert("Ingrese todos los valores");                
            }
            else{
                alert("Valores Establecidos")
                document.getElementById("formLogin").submit();
            }
        }
      
    </script>

    <form action="/Rangos" method="post" id="formLogin">
        <p><h4>PARAMETROS DE CONFIGURACION</h4></p>
            <br>
            <p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Rango</th>
                            <th>Minimo</th>
                            <th>Maximo</th>
                        </tr>
                    </thead>
                    <tbody>   
                        <tr class="table-primary">
                            <td>Hipotermia</td>
                            <td><input type="number" placeholder="valor minimo" name="minHipo" id="minH"></td>
                            <td><input type="number" placeholder="valor maximo" name="maxHipo" id="maxH"></td>
                        </tr>
                        <tr class="table-success">
                            <td>Normal</td>
                            <td><input type="number" placeholder="valor minimo" name="minNormal" id="minN"></td>
                            <td><input type="number" placeholder="valor maximo" name="maxNormal" id="maxN"></td>
                        </tr>
                        <tr class="table-danger">
                            <td>Fiebre</td>
                            <td><input type="number" placeholder="valor minimo" name="minFiebre" id="minF"></td>
                            <td><input type="number" placeholder="valor maximo" name="maxFiebre" id="maxF"></td>
                        </tr>                
                    </tbody>
                </table>
            </p>
    
        <p><button class="btn btn-primary" type="button" id="boton" onclick="buton()" >Guardar</button></p>
    </form>
</body>
</html>