<html>
    <head>
        <title>Sistema DABM</title>
        <meta charset="utf-8">
    </head>

    <body>
        <p>Esto es un parrafo </p>
        <p>Esto es otro parrafo</p>
        <h1>Titulo 1</h1>
        <h2>Titulo 2</h2>
        <h3>Titulo 3</h3>
        <h4>Titulo 4</h4>
        <h5>Titulo 5</h5>
        <h6>Titulo 6</h6>

        <input  type="text">
        <input  type="date">
        <input  type="password">
        <input  type="number">
        <input  type="datetime">
        <input  type="color">
        <input  type="datetime-local">
        <input  type="email">
        <input  type="file">
        <br>
        <img alt="Logo Escuela" class="ag-branding__img" height="147" src="https://escuelaing.s3.amazonaws.com/staging/images/logo-ecijg.width-380.png?AWSAccessKeyId=AKIAWFY3NGTFBJGCIWME&amp;Signature=C%2BBrM2TjbnUAse6%2FTkfIPKvgY98%3D&amp;Expires=1636470203" width="380">
        <p>
            <select>
                <option> value="1">Lunes </option>
                <option> value="2">Martes </option>
                <option> value="3">Miercoles </option>
            </select>
        </p>
        <p>
            <input  type="button"   value="Ingreso">
        </p>
        <p>
            <input  type="radio" name="sexo" value="M">Masculino
            <input  type="radio" name="sexo" value="F">Femenino
        </p>
        <p>
            <input  type="checkbox" id="hipertencion" value="hi">Hipertencion
            <input  type="checkbox" id="diabetes"     value="diabetes">Diabetes
        </p>
        <table border="1">
            <tr>
                <td>
                    NOMBRE
                </td>
                <td>
                    Tipo
                </td>
            </tr>
            <tr>
                <td>
                    Cristian Rincon
                </td>
                <td>
                    Administrador
                </td>
            </tr>
            <tr>
                <td>
                    Paola Millan
                </td>
                <td>
                    Paciente
                </td>
            </tr>
        </table>
    </body>

    <footer>
        <P>Copyright - DABM - 2021</P>
    </footer>

    

</html>